.header{
    background-color: black;
    color: white;
    display: flex;
    .header-left{
        gap: 70px;
        display: flex;
        margin-left: 100px;
    }
    .header-right{
        margin-left: 500px;
        display: flex;
    }
}

